html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  height: 100%;
}

/* Variables */
:root {
  --color-dark-cyan: hsl(158, 36%, 37%);  
  --color-cream: hsl(30, 38%, 92%);
  --color-very-dark-blue: hsl(212, 21%, 14%);
  --color-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-white: hsl(0, 0%, 100%);
  --font-size-mobile: 0.875em;
  --font-size-desktop: 1em;
  --font-1: 'Montserrat', sans-serif;
  --font-2: 'Fraunces', serif;
  --fw-semi-bold: 500;
  --fw-bold: 700;
}

/* Device widths */
/* 1440px  Desktop & 375px Mobile */

body {
  background-color: var(--color-cream);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* .card {
  background: lightblue;
  width: fit-content;
  margin: 0 auto;
}

.card-copy .card-description {
  width: 0;
  max-width: 100%;
} */

.card {
  background: var(--color-white);
  border-radius: 10px;
  box-shadow: 5px 5px 20px hsla(227.6, 11.8%, 48%, 0.2);
  font-size: 1rem;
  font-family: var(--font-1);
  margin: 1.8em 1em;
}

/* Mobile breakpoint */
@media screen and (max-width: 600px) {
  :root {
    font-size: var(--font-size-mobile);
  }
  .card {
    max-width: 24.643em;
    padding-block-end: 2em;
  }
}

.card-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-copy,
.card-price,
.card-button {
  margin-inline: 2em;
}

.card-copy .card-subtitle {
  color: var(--color-dark-grayish-blue);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-block-start: 2em;
  text-transform: uppercase;
}

.card-copy .card-title {
  color: var(--color-very-dark-blue);
  font-family: var(--font-2);
  font-weight: var(--fw-bold);
  font-size: 2.2rem;
  line-height: 1;
  margin-block-start: 0.4em;
}

.card-copy .card-description {
  color: var(--color-dark-grayish-blue);
  line-height: 1.5;
  margin-block-start: 1.2em;
}

.card-price {
  align-items: center;
  display: flex;
  margin-block-start: 1.2em;
}

.card-price .new-price {
  color: var(--color-dark-cyan);
  font-family: var(--font-2);
  font-size: 2.2rem;
  font-weight: var(--fw-bold);
}

.card-price .old-price {
  color: var(--color-dark-grayish-blue);
  font-size: 1rem;
  margin-inline-start: 2em;
  text-decoration: line-through;
}

.card-button {
  background-color: var(--color-dark-cyan);
  border-radius: 8px;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-bold);
  margin-block-start: 1.6em;
  padding-block: 0.875em;
}

.card-button:active {
  background-color: hsl(158, 36%, 20%) ;
}


.card-button .cart-icon {
  margin-inline-end: 0.5em;
}

/* Desktop breakpoint */
@media screen and (min-width: 600px) {
  :root {
    font-size: var(--font-size-desktop);
  }

  body {
    align-items: center;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    max-width: 37.5em;
  }

  /* .card > * {
    margin-block: 0;
  } */

  picture {
    grid-row: 1 / 4;
  }

  .card-image {
    display: block;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .card-copy .card-description {
    font-size: var(--font-size-mobile);
  }

  .card-price {
    grid-column-start: 2;
  }

  .card-button {
    grid-column-start: 2;
    margin-block-end: 2em;
  }
}
